<div class="container-fluid">
  
</div>
<app-navegacion></app-navegacion>
<div class="row">
  <div id="iniciar-sesion" class="col-md-4">
    <img
      src="../../../assets/aguila.png"
      class="rounded-circle"
      alt="Aguila-Usuario"
      width="180"
    />
    <form action="/action_page.php">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Usuario:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Ingresa tu usuario"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          placeholder="Ingresa tu contraseña"
          name="pswd"
        />
      </div>
      <a href="/principal"  class="btn btn-info" style="background: #00a786; font-weight: bold" role="button" aria-pressed="true">Ingresar</a>
    </form>
  </div>
  <div id="bienvenida" class="col-md-7">
    <p>Bienvenido</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta esse
      maxime ratione corrupti. Sapiente facilis obcaecati distinctio quos rerum
      in ducimus. Consectetur beatae ipsum suscipit tempore dolore praesentium
      perspiciatis quia?
    </p>
    <p>Horario</p> 
    <p>Lunes a Viernes de 8:00hrs - 20:00hrs </p>   
  </div>
</div>
