.lateral{
    background: #ebebeb;
    text-align: center;
    color: #00a786;
    font-size: 25px;
    height: 1000px;
}

.fa-solid{
    margin: 5px
}


.col-form-label{
    margin: 10px;
}

h3{
    position: relative;
    text-align: left;
    margin: 15px 15px;
    color: #00a786;

}

.buscar{
    border: 1px solid black;
}

/*MENU LATERAL*/
.nav-pills li a:hover{
    background-color: blue;
}

.barra{
    /*background: #20252e;*/
    background: #87CEFA;
}