.lateral{
    background: #ebebeb;
    text-align: center;
    color: #00a786;
    font-size: 25px;
    height: 1000px;
    padding: 30px 40px;
}

.fa-solid{
    margin: 20px 50px;
}


.col-form-label{
    margin: 10px;
}


