.fa-solid{
    margin: 5px
}


.col-form-label{
    margin: 10px;
}

h3{
    position: relative;
    text-align: left;
    margin:8px 8px 13px 5px;
    color: #00a786;

}

.barra{
    /*background: #20252e;*/
    background: #87CEFA;
}

/*MENU LATERAL*/
.nav-pills li a:hover{
    background-color: blue;
}

.btn-warning{
    position: relative;
    width: 150px;
    margin: 10px;
    left: 340px;
}
