.fa-solid{
    margin: 5px
}


.col-form-label{
    margin: 10px;
    color: #005c3e;
    font-weight: 500;
}
/*00A789*/
.ti{
    background: #ebebeb;
    text-align: center;
    margin-bottom: 15px;
}

.ti p{
    color: #064068;
    font-size: 25px;
    margin: 5px 0px;
    font-weight: 500;
}

.barra{
    /*background: #20252e;*/
    background: #87CEFA;
}

.btn-warning{
    position: relative;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 340px;
}

#buscar{
    left: 40px;   
}

.tdatos{
    margin-left: 25px;
}

.ml{
    background-color: #064068;
}

.t p{
    margin: 10px;
    color: #064068;
    font-weight: 500;
    font-size: 14pt;
    width: 300px;
}
